# Object files
*.o
*.d
.depend
tags
server
.vscode/
/deps/lua/lua
/deps/zlib/zconf.h
/deps/zlib/*.log
/deps/zlib/example
/deps/zlib/example64
/deps/zlib/minigzip
/deps/zlib/minigzip64
/deps/zlib/Makefile
luac
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/silly
# Debug files
*.dSYM/

node_modules/
.vuepress/.cache/
.vuepress/.temp/
.vuepress/dist/
