[submodule "deps/jemalloc"]
	path = deps/jemalloc
	url = https://github.com/jemalloc/jemalloc
	branch = master
[submodule "deps/snappy"]
	path = deps/snappy
	url = https://github.com/google/snappy.git
